<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzx.jiachangcai.module.recipe.mapper.RecipeMapper">
   <select id="seletcountByid" resultType="int">
       select count(*) from recipe where author_id = #{id};
   </select>
    <select id="selectLikecount" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select sum(like_count) from recipe where author_id = #{id}
    </select>
</mapper>